.card {
  margin: 6rem 2rem 2rem 0;
  padding: 1.5rem;
  width: 250px;
  box-shadow: 0 0 28px 4px rgba(252, 244, 244, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  color: white;
  align-items: center;
}

.card:hover {
  transform: scale(1.1);
  color: rgb(255, 0, 64);
}

.card__title {
  font-weight: 800;
  font-size: 1.5rem;
  color: rgb(255, 0, 64);
}

.card__image {
  display: flex;
  justify-content: flex-end;
}
.card__image img {
  border-radius: 50%;
}
